<div class="page-error coming-soon">
  <main class="page-content">
    <div class="page-inner">
      {{page/homepage-nav-bar}}
      <div id="main-wrapper">
        <div class="row">
          <div class="col-md-4 center">
            <h1 class="text-xxl f-white text-center"><i class="icon-wrench"></i></h1>
            <h2 class="text-xl f-white text-center" id="counter"></h2>
            <div class="details">
              <h3 class="f-white">OUR WEBSITE IS UNDER CONSTRUCTION.</h3>
              <p class="f-white">WE ARE COMING SOON.</p>
            </div>
            <form class="input-group">
              <input type="email" class="form-control" placeholder="Subscribe to Email" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-angle-right"></i></button>
                                </span>
            </form>
          </div>
        </div><!-- Row -->
      </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
  </main><!-- Page Content -->
</div>