<div class="page-error coming-soon">
  <main class="page-content">
    <div class="page-inner">
      {{page/homepage-nav-bar}}
      <div id="main-wrapper">
        <div class="row">
          <div class="col-md-6 center">
            <h1 class="text-xl f-white text-center">
              A messaging app for teams who are changing the world!
            </h1>
          </div>
        </div><!-- Row -->
        <div class="row">
          <div class="col-md-4 center">
            {{homepage/join-form}}
          </div>
        </div>
      </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
  </main><!-- Page Content -->
</div>