<div class="page-login">
  <main class="page-content">
    <div class="page-inner">
      <div id="main-wrapper">
        <div class="row">
          <div class="col-md-3 center">
            <div class="login-box">
              {{#link-to "homepage" class="logo-name text-lg text-center"}}
                LtzChat
              {{/link-to}}
              <p class="text-center m-t-md">Please login into your account.</p>
              {{login/login-form}}
              <p class="text-center m-t-xs text-sm">2016 &copy; LtzChat</p>
            </div>
          </div>
        </div><!-- Row -->
      </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
  </main><!-- Page Content -->
</div>
