<div class="page-register">
  <main class="page-content">
    <div class="page-inner">
      <div id="main-wrapper">
        <div class="row">
          <div class="col-md-3 center">
            <div class="login-box">
              <a href="index.html" class="logo-name text-lg text-center">Modern</a>
              <p class="text-center m-t-md">Create a Modern's account</p>
              {{login/register-form}}
              <p class="text-center m-t-xs text-sm">2015 &copy; Modern by Steelcoders.</p>
            </div>
          </div>
        </div><!-- Row -->
      </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
  </main><!-- Page Content -->
</div>