<div class="col-md-6 center">
  <div class="form-group row  ">
    <label for="example-text-input" class="col-xs-2 col-form-label">Name</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value={{user.name}} id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-2 col-form-label">Username</label>
    <div class="col-xs-10">
      <input class="form-control" type="text" value={{user.username}} id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-xs-2 col-form-label">Organization</label>
    <div class="col-xs-10">
      <input class="form-control" type="email" value={{user.organization.name}} id="example-email-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-url-input" class="col-xs-2 col-form-label">Personal address</label>
    <div class="col-xs-10">
      <input class="form-control" type="url" value="https://www.facebook.com/alexandru.leonte.50?fref=ts" id="example-url-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-number-input" class="col-xs-2 col-form-label">Age</label>
    <div class="col-xs-10">
      <input class="form-control" type="number" value="42" id="example-number-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-date-input" class="col-xs-2 col-form-label">Birthdate</label>
    <div class="col-xs-10">
      <input class="form-control" type="date" value="1994-08-19" id="example-date-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-color-input" class="col-xs-2 col-form-label">Color</label>
    <div class="col-xs-10">
      <input class="form-control" type="color" value="#563d7c" id="example-color-input">
    </div>
  </div>
</div>