<div class="navbar-inner">
  <div class="sidebar-pusher">
    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="logo-box">
    <a href="/" class="logo-text"><span>LtzChat</span></a>
  </div><!-- Logo Box -->
  <div class="topmenu-outer">
    <div class="top-menu">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">
            <span class="user-name">{{user.username}}<i class="fa fa-angle-down"></i></span>
            <img class="img-circle avatar" src="assets/images/avatar1.png" width="40" height="40" alt="">
          </a>
          <ul class="dropdown-menu dropdown-list" role="menu">
            <li role="presentation"><a href="profile.html"><i class="fa fa-user"></i>Profile</a></li>
            <li role="presentation">
              <a href="" {{action "logout"}}>
                <i class="fa fa-sign-out m-r-xs"></i>Log out
              </a>
            </li>
          </ul>
        </li>
      </ul><!-- Nav -->
    </div><!-- Top Menu -->
  </div>
</div>