<div class="navbar-inner">
  <div class="sidebar-pusher">
    <a href="javascript:void(0);" class="waves-effect waves-button waves-classic push-sidebar">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="logo-box">
    <a href="index.html" class="logo-text"><span>LtzChat</span></a>
  </div><!-- Logo Box -->
  <div class="topmenu-outer">
    <div class="top-menu">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a class="waves-effect waves-button waves-classic sidebar-toggle"><i class="fa fa-bars"></i></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul><!-- Nav -->
    </div><!-- Top Menu -->
  </div>
</div>