<div class="page-sidebar-inner slimscroll">
  <ul class="menu accordion-menu">
    <li class="active"><a href="index.html" class="waves-effect waves-button"><span class="menu-icon glyphicon glyphicon-home"></span><p>Dashboard</p></a></li>
  </ul>
</div><!-- Page Sidebar Inner -->