<div class="row">
  <div class="col-md-4">
    {{#if model.isCurrentUser}}
      {{user-profile/edit user=model.user}}
    {{else}}
        {{user-profile/profile-show user=model.user}}
    {{/if}}
  </div>
</div>