.homepage--join-form{
  background: rgba(0,0,0,.65);
  padding: 2em;
  text-align: center;
  color: #fff;
  p{
    font-size: 1.3em;
  }

  a{
    margin-left: 1em;
    color: #fff;
    text-decoration: underline;
    font-size: 1.5em;
  }
}
